body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #E7E7E7;
}

button {
    outline: none !important;
}

div {
    outline: none !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h4 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.txt-light {
    font-size: 14px;
    color: #6e7e87;
    margin: 0;
    padding: 0;
}

.bg-dark {
    background: #243743;
    color: #F2F3F8;
}

.bg-light {
    background: #F2F3F8;
    color: #243743;
}

.icon-sm {
    width: 22px;
    height: 22px;
}

.icon-md {
    width: 32px;
    height: 32px;
}

.icon-border-md {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 7px;
    float: left;
    border-radius: 50%;
    border: 2px solid #243743;
}

.nav-links a {
    color: #d6d4d4 !important;
}

.nav-links a:hover {
    color: #ffffff !important;
}

.active a {
    color: #243743 !important;
}

.active a:hover {
    color: #243743 !important;
}

.light-card {
    background: #ffffff;
    color: #243743;
    border-radius: 5px;
    padding: 8px;
}

.glyph-dark {
    color: white;
    cursor: pointer;
}

.glyph-dark:hover {
    color: #fbc76d;
}

.glyph-light {
    color: #243743;
    cursor: pointer;
}

.glyph-light:hover {
    color: #fbc76d;
}

.icon-right {
    float: right;
    margin-left: 8px;
    padding: 2px;
}

.inline-block {
    display: inline-block;
}

.float-right {
    float: right;
}

.bold {
    font-weight: bolder;
    font-size: 14px;
    margin: 0;
}

.sharp-left {
    border-radius: 5px 0 0 5px;
    padding: 0;
    height: 15px;
}

.sharp-right {
    border-radius: 0 5px 5px 0;
    border: none;
    padding: 0;
    height: 15px;
}

.sharp {
    border: none;
    padding: 0;
    height: 15px;
}

.scroll-y {
    overflow-y: auto;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #243743;
}

::-webkit-scrollbar-thumb:hover {
    background: #243743;
}

.hover-hl {
    border: none;
}

.hover-hl:hover {
    border-left: 3px solid #ffae00;
    border-right: 3px solid #ffae00;
    border-radius: 0 !important;
}

.selected {

    border-left: 3px solid #f44f5a;
    border-right: 3px solid #f44f5a;
    border-radius: 0 !important;
}

.nav-tabs {
    border: none !important;
}

.nav {
    padding: 0;
}

.navbar-header {
    bottom: 0;
    position: absolute;
    display: 'inline'
}

#tab-controller {
    border: 1px solid #243743;
    border-bottom-left-radius: 5px;
}

.dark-tab {
    background: #243743;
}

.nav-tabs>li {
    margin-bottom: 0;
    border-radius: 0;
    border: none !important;
}

.nav-tabs>li.active>a {
    border: none;
    color: #243743 !important;
}

.nav-tabs>li>a {
    color: #aaaaaa !important;
    border: none !important;
}

.nav-tabs>li>a:hover {
    border: none !important;
    background: white;
    color: #f44f5a !important;
}

.textinput-basic {
    width: 200px;
    height: 20px;
    border: none;
    display: inline-block;
}

.input-container {
    display: inline-block;
}

.search-title {
    text-align: center;
    padding-top: 20px;
}

.autocomplete-item {
    padding: 5px;
}

.autocomplete {
    position: absolute;
    width: 100%;
    border-radius: 5px;
    z-index: 9;
    color: gray !important;
}

.text-input {
    height: 28px;
    color: gray;
}

.btn-dropdown {
    background-color: #ffae00 !important;
    color: white;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0px;
    border-radius: 5px;
    margin: 0 5px 2px 0;
}

.btn-dropdown:hover {
    background-color: green;
    color: white;
}

.register {
    background-color: #ffa335 !important;
    color: white;
    border: none;
    width: 100px;
}
.register:hover {
    background-color: #ffa335;
    color: white;
}

.login {
    background-color: #f44f5a !important;
    color: white;
    border: none;
    width: 100px;
}
.login:hover {
    background-color: #f44f5a;
    color: white;
}

.result-list li {
    padding-top: 2px;
}

.results-group:hover {
    border-left: 3px solid #ffae00;
    border-right: 3px solid #ffae00;
}

.result-list {
    display: inline-block;
}

th {
    min-width: 120px;
}

td {
    text-align: left;
}

.editable {
    cursor:pointer;
}

.editable:hover {
    color: #ffae00;
}
